@import url('grids/mobile.css') screen and (max-width:1039px);
@import url('grids/960.css') screen and (min-width:1040px);
@import url('grids/1200.css') screen and (min-width:1280px);
@import url('grids/1560.css') screen and (min-width:1640px);
@import url('grids/1920.css') screen and (min-width:2000px);
@import url('grids/2520.css') screen and (min-width:2600px);
body {
  color: #222;
  font-size: 0.85em;
  font-family: 'Droid Serif', serif;
  font: 0.9em/1.5em sans-serif; }

#Header nav a, footer {
  font-family: 'Droid Sans', sans-serif; }

pre, code {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 0.80em; }

body {
  background: #CECECE;
  margin: 1em 0 2em; }

#Header {
  padding-bottom: 1em; }
  #Header #Logo a {
    background: transparent url("../images/layout/logo.png") no-repeat top left;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 64px; }
  #Header nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0; }
  #Header nav li {
    text-align: center; }
  #Header nav li.articles a {
    background-image: url("../images/icons/48/notepad.png"); }
  #Header nav li.portfolio a {
    background-image: url("../images/icons/48/book.png"); }
  #Header nav li.about a {
    background-image: url("../images/icons/48/info.png"); }
  #Header nav li.contact a {
    background-image: url("../images/icons/48/mail.png"); }
  #Header nav a {
    background-position: center 3px;
    background-repeat: no-repeat;
    color: #C10;
    display: block;
    font-size: 0.8em;
    height: 16px;
    line-height: 16px;
    padding-top: 48px;
    text-decoration: none;
    text-transform: uppercase; }
    #Header nav a:hover {
      background-position: center 0px;
      text-decoration: underline; }
  @media screen and (max-width:1039px) {
    #Header nav {
      height: 64px; }
      #Header nav a {
        width: 24.5%;
        float: left;
        clear: none; } }

#Body {
  background: #f2f2f2;
  border-bottom: 5px solid #222;
  border-top: 5px solid #222;
  padding: 1em 0; }
