@import url('grids/mobile.css') screen and (max-width:719px);
@import url('grids/720.css') screen and (min-width:720px);
@import url('grids/960.css') screen and (min-width:960px);
@import url('grids/1200.css') screen and (min-width:1200px);
@import url('grids/1560.css') screen and (min-width:1560px);
@import url('grids/1920.css') screen and (min-width:1920px);
@import url('grids/2520.css') screen and (min-width:2520px);

@import "text";

$logoHeight: 64px;

body {
	background:#CECECE;
	margin:1em 0 2em;
}
#Header {
	padding-bottom:1em;
	#Logo a {
		background:transparent url('../images/layout/logo.png') no-repeat top left;
		display:block;
		height:0;
		overflow:hidden;
		padding-top:$logoHeight;
	}
	nav {
		ul {
			list-style:none;
			margin:0 auto;
			padding:0;
		}
		li {
			text-align:center;
		}
		li.articles a {
			background-image:url('../images/icons/48/notepad.png');
		}
		li.portfolio a {
			background-image:url('../images/icons/48/book.png');
		}
		li.about a {
			background-image:url('../images/icons/48/info.png');
		}
		li.contact a {
			background-image:url('../images/icons/48/mail.png');
		}
		a {
			background:{
				position:center 3px;
				repeat:no-repeat;
			}
			color:#C10;
			display:block;
			font-size:0.8em;
			height:$logoHeight - 48px;
			line-height:$logoHeight - 48px;
			padding-top:48px;
			text-decoration:none;
			text-transform:uppercase;
			&:hover {
				background-position:center 0px;
				text-decoration:underline;
			}
		}
	}
}
#Body {
	$bodyColor:darken(white, 5%);
	background:$bodyColor;
	border:{
		bottom:5px solid #222;
		top:5px solid #222;
	}
	padding:1em 0;
	//box-shadow:0 0 3px 3px $bodyColor;
}
footer {
}

