body {
	color:#222;
	font:{
		size:0.85em;
		family:'Droid Serif', serif;
	}
	font: 0.90em/1.5em sans-serif;
}
#Header nav a, footer {
	font-family:'Droid Sans', sans-serif;
}
pre, code {
	font:{
		family:'Droid Sans Mono', monospace;
		size:0.80em;
	}
}