[submodule "lib/textile"]
	path = lib/textile
	url = git://github.com/netcarver/textile.git
[submodule "lib/framework"]
	path = lib/framework
	url = git://github.com/jbaikge/framework.git
[submodule "lib/lessphp"]
	path = lib/lessphp
	url = git://github.com/leafo/lessphp.git
