<FilesMatch \.[a-zA-Z0-9]+\.php$|\.phpt$|\.sql$>
	Deny From All
</FilesMatch>
Options +MultiViews
php_value include_path ".:..:../..:../../..:../../../..:../../../../..:../../../../../.."
php_value magic_quotes_gpc 0

# Might need to set these later on:
#php_value upload_max_filesize 256M
#php_value post_max_size 256M
#php_value memory_limit 256M

RewriteEngine On
RewriteRule ^([0-9]{4}/[^/]+)/?([0-9]+)?/?$ /article.php?path=$1&page=$2 [L]
RewriteRule ^[0-9]{4}/?$ /archive.php?date=$0 [L]

AddHandler compile-less .less
Action compile-less /_compile-less.php
