<FilesMatch \.[a-zA-Z0-9]+\.php$|\.phpt$|\.sql$>
	Deny From All
</FilesMatch>
Options +MultiViews
php_value include_path ".:..:../..:../../..:../../../..:../../../../..:../../../../../.."
php_value magic_quotes_gpc 0

# Might need to set these later on:
#php_value upload_max_filesize 256M
#php_value post_max_size 256M
#php_value memory_limit 256M

RewriteEngine On
RewriteRule ^[0-9]{4}/[0-9]{2}/[0-9]{2}/.+$ /article.php?path=$0 [L]
RewriteRule ^[0-9]{4}/[0-9]{2}/[0-9]{2}/?$ /archive.php?date=$0 [L]
RewriteRule ^[0-9]{4}/[0-9]{2}/?$ /archive.php?date=$0 [L]
RewriteRule ^[0-9]{4}/?$ /archive.php?date=$0 [L]

